[submodule "triangle-checker"]
	path = triangle-checker
	url = https://github.com/larissa-fernanda/triangle-checker.git
[submodule "person-validator"]
	path = person-validator
	url = https://github.com/larissa-fernanda/person-validator.git
[submodule "salary-calculator"]
	path = salary-calculator
	url = https://github.com/larissa-fernanda/salary-calculator.git
[submodule "tdd-stack"]
	path = tdd-stack
	url = https://github.com/larissa-fernanda/tdd-stack.git
